*{ /* alligns all my text center of the page */
  text-align: center;
}
a:link    { color: blue;  } /* changes my links colors based on love hate*/ 
a:visited { color: darkorchid;}
a:hover   { color: green; }
a:active  { color: red;  }

.button { /* creates my button for my links in the nav box*/
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: blue;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
}

.button-default { /* default buttons */
  color: #333;
  background-color: white;
  border: 1px solid #ccc;
}

p { /* changes the size and possiblly font style of all paragraphs */
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

h1{ /* changes the size of my h1 */
  font-size: 40px;
  font-family: candara, verdana;
}

h2{ /* changes the size of all h2*/
  font-size: 30px
}

h3{ /* changes the size of all h3 */
  font-size: 25px;
  font-family: impact;
}

h4{ /* changes the size  of all h4 */
  font-size: 18px;
}

header{ /* addes a back ground color to my header so it looks nicer */
  background-color: darkgrey;
}
ul{ /* formats my unordered lists to display nicly lined up */
  display: inline-block; 
	text-align: left; 
  list-style-position: initial;
  
}

ol{ /* formats my ordered lists to display nicly lined up */
  display: inline-block; 
	text-align: left; 
  list-style-position: initial;
}

li { /* lines up my list items with the ol and ul for better formating */
  display: list-item;
  text-align: -webkit-match-parent;
}

main{ /* addes a margin at the top and bottom of my main for better spacing between the header and footer */
  margin-bottom: 30px;
  margin-top: 30px;
}

footer{  /* adds a nice box to the end of my website with the padding to fill in the blank spaces */
  background-color:darkgray;
  padding: 50px;
}
